.cards-about {
  display: inline;
  background-color: $primary-color;
  border-radius: 5px;
  position: absolute;
  top: 10em;
  left: 55em;
  @media screen and (max-width: $break-medium) {
  float: none;
 }
}

.card-copy {
  text-align:center;
}

h4  {
  @extend .card-copy;
}

body {
  font-family: 'Pinyon Script', cursive;
}

.card-about2 {
  float: right;
  }


.blog-post1 {
  @include blog-post;
}

.card {
  margin: 0;
  overflow: auto;
}

.blog-post1 img {
  border: none;
  display: block;
  margin: 0 auto;
}

.page-footer {
  background-color: black !important;
}
