.image-wrapper {
  $large-screen: 50em !default;
  align-items: center;
  background: image_url("img/EUR05.jpg");
  background-position: right;
  background-size: none;
  display: flex;
  // justify-content: center;
}

img {
  position: relative;
}
