@mixin card {
  @include flex-basis(20em);
  @include flex-grow(1);
  margin: 0 1em;
  height: 40em;
  width: 30em;
  float: left;
  border-radius: 5px;

}

@mixin blog-post {
  overflow: auto;
  height: 30em;
  margin: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 17px -3px 46px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px -3px 46px -15px rgba(0,0,0,0.75);
  box-shadow: 17px -3px 46px -15px rgba(0,0,0,0.75);
}
